:host {
	display: flex;
	height: 100%;

	#content {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 30px;

		h1 span {
			color: var(--color-palette-3);
		}

		.paragraphs {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;

			p span {
				color: var(--pop-color-1);
			}
		}

		.overlay {
			--border-style: 3px solid var(--color-palette-2);

			.overlay-helper {
				.overlay-element {
					width: 150px;
					height: 100px;
					position: absolute;

					&.top-left {
						margin-top: 30px;
						border-left: var(--border-style);
						border-top: var(--border-style);
					}

					&.top-right {
						margin-top: 30px;
						border-right: var(--border-style);
						border-top: var(--border-style);
						right: 30px;
					}

					&.bottom-left {
						margin-bottom: 30px;
						border-left: var(--border-style);
						border-bottom: var(--border-style);
						bottom: 0;
					}

					&.bottom-right {
						margin-bottom: 30px;
						border-right: var(--border-style);
						border-bottom: var(--border-style);
						bottom: 0;
						right: 30px;
					}
				}
			}
		}

		::ng-deep {
			// Select fourth child (i.e. not router-outlet)
			> :nth-child(4) {
				display: grid;
				place-items: center;
				height: 100%;
				animation: fadein 1s ease;
				overflow-y: auto;
			}
		}

		@keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.75);
			}
			to {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
