@font-face {
	font-family: "Barlow-Medium";
	src: url("../_fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow-ExtraBold";
	src: url("../_fonts/Barlow-ExtraBold.ttf") format("truetype");
}
